body {
    width: 400px;
    margin: 0 auto;
    height: auto;
}

.caja1 {
    background: yellow;
    width: 400px;
    height: 100px;
    padding: 20px;
}

.caja2 {
    background: tomato;
    width: 400px;
    height: 100px;
}